body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: darksalmon;
}

#userText {
  color: darkblue;
  cursor: default;
}

#responses {
  color: coral;
  cursor: default;
}

.chatBoxInputArea {
  font-family: 'Lato', sans-serif;
  outline:none;
  border:none;
  border-top:1px solid #333333;
  background-color: transparent;
  padding-top: 30px;
  width: 150px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  padding: 1px;
}

#bot {
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor:pointer;
  width: 40px;
}

#title {
  color:darkblue;
  text-shadow: 1px 1px black;
  border-bottom: 1px solid black;
  cursor: default;
}

.bot {
  width: 150px;
  height: 250px;
  border-radius: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  right: 0px;
  bottom: 40px;
}

#hide {
  cursor:pointer;
}